* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  background-image: url('../img/bgImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;
  text-align: center;
}
